*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:40vh;
    box-shadow: 0 0 3px #000;
    max-width: 100%;
    width: 50%;
    margin: auto;
}