*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    display: flex;
    align-items: center;
    min-height:40vh;
    box-shadow: 0 0 3px #000;
    max-width: 100%;
    width: 50%;
    margin: auto;
    margin-top: 50px;
}
.wrapper{
width: 100%;
padding: 0 30px;
}
form{
    padding: 20px 0px;
}
h2{
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
form button{
    background-color:darkblue;
    color: #fff;
    padding: 10px 30px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 500;
}
.display-users{
    margin: 20px 0;
    box-shadow: 0 0 3px #000;
    padding: 10px 40px;
}
p{
    font-size: 1.2rem;
    font-weight: 400;
}
.text-content{
    display: flex;
    
}
input{
width: 40%;
border: 1px solid #000;
margin: 20px 0;
padding: 8px 20px;
border-radius: 5px;
background-color: transparent;
}

i{
    margin: 0 20px;
}